doctype html
html
    head
        title="Google login application"
        style
            include style.css
        body
            p The application is used to login using a Google account
            a.button(href='/login') Google authentication